In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [19]:
rainfall_df = pd.read_csv("dataset/kerala_rainfall.csv")
temperature_df = pd.read_csv("dataset/kerala_temperatures.csv")

In [20]:
merged_df = pd.merge(rainfall_df, temperature_df, on="YEAR")
merged_df

,SUBDIVISION,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,APR_y,MAY_y,JUN_y,JUL_y,AUG_y,SEP_y,OCT_y,NOV_y,DEC_y,ANNUAL
0,KERALA,2000,11.7,57.8,21.5,96.3,124.5,633.8,343.2,566.5,...,33.17,34.23,32.29,30.99,30.73,30.96,31.22,28.46,25.86,29.75
1,KERALA,2001,16.5,28.3,7.0,238.0,238.6,715.3,598.5,361.3,...,32.54,34.96,32.34,31.33,31.31,31.66,30.79,28.26,25.33,29.99
2,KERALA,2002,4.7,8.7,35.7,117.3,330.8,503.1,318.7,438.2,...,33.51,35.08,33.46,32.76,31.04,31.05,31.02,28.86,25.88,30.23
3,KERALA,2003,0.7,50.9,82.1,134.4,91.0,566.7,532.0,350.3,...,32.91,34.12,33.77,31.30,30.93,30.86,30.26,27.86,24.97,29.75
4,KERALA,2004,2.4,8.1,37.9,113.2,610.9,673.4,385.4,417.9,...,32.97,33.23,32.23,31.38,30.85,31.20,29.18,28.23,25.54,29.79
5,KERALA,2005,19.8,7.0,25.3,205.9,134.8,619.2,832.7,291.0,...,32.37,33.57,33.88,30.96,31.45,31.05,29.78,27.60,25.11,29.60
6,KERALA,2006,8.1,0.5,90.7,65.3,521.2,482.4,804.0,432.6,...,32.59,34.09,32.65,31.59,30.76,30.57,30.46,27.61,25.27,30.06
7,KERALA,2007,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,...,33.57,34.05,32.63,31.29,31.06,30.64,30.49,28.41,25.19,29.84
8,KERALA,2008,0.8,30.3,217.2,108.4,81.2,469.9,505.1,349.0,...,32.13,33.86,32.15,31.24,30.69,30.92,30.81,28.15,25.91,29.64
9,KERALA,2009,3.3,1.5,62.6,69.0,191.6,438.2,924.9,269.3,...,33.09,34.09,33.73,31.77,31.84,31.60,30.75,27.59,25.53,30.30
10,KERALA,2010,18.6,1.0,31.4,138.9,190.6,667.5,629.0,356.0,...,34.07,34.43,33.22,31.24,30.77,30.65,30.47,28.01,24.88,30.13
11,KERALA,2011,20.5,45.7,24.1,165.2,124.2,788.5,536.8,492.7,...,31.70,34.33,33.02,31.41,30.92,30.81,30.85,28.31,25.60,29.82
12,KERALA,2012,7.4,11.0,21.0,171.1,95.3,430.3,362.6,501.6,...,32.46,34.30,33.60,31.88,30.96,30.65,30.20,28.11,25.34,29.81
13,KERALA,2013,3.9,40.1,49.9,49.3,119.3,1042.7,830.2,369.7,...,32.66,34.46,32.44,31.07,30.76,31.04,30.27,27.83,25.37,29.81
14,KERALA,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,...,32.74,33.77,34.15,31.85,31.32,30.68,30.29,28.05,25.08,29.72
15,KERALA,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,252.2,...,31.87,34.09,32.48,31.88,31.52,31.55,31.04,28.10,25.67,29.90
16,KERALA,2016,2.4,3.8,35.9,143.0,186.4,522.2,412.3,325.5,...,35.38,35.72,34.03,31.64,31.79,31.66,31.98,30.11,28.01,31.63
17,KERALA,2017,1.9,6.8,8.9,43.6,173.5,498.5,319.6,531.8,...,34.95,35.84,33.82,31.88,31.72,32.22,32.29,29.60,27.18,31.42

In [5]:
# Example criteria: If the next month's rainfall is above 100 mm, classify it as rainy (1), otherwise sunny (0)
merged_df["NextMonthWeather"] = np.where(merged_df["ANNUAL"].shift(-1) > 100, 1, 0)

In [6]:
merged_df = merged_df.dropna()  # Remove rows with missing values
merged_df = merged_df.drop(["YEAR", "ANNUAL"], axis=1)  # Drop irrelevant columns

In [7]:
X = merged_df[["JAN_x", "FEB_x", "MAR_x", "APR_x", "MAY_x", "JUN_x", "JUL_x", "AUG_x", "SEP_x", "OCT_x", "NOV_x", "DEC_x", "JAN_y", "FEB_y", "MAR_y", "APR_y", "MAY_y", "JUN_y", "JUL_y", "AUG_y", "SEP_y", "OCT_y", "NOV_y", "DEC_y"]]
y = merged_df["NextMonthWeather"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [10]:
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        24

    accuracy                           1.00        24
   macro avg       1.00      1.00      1.00        24
weighted avg       1.00      1.00      1.00        24

In [11]:
# Define new data for prediction (replace with actual data)
new_data = np.array([[10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0, 110.0, 120.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0]])

# Predict the next month's weather
predicted_weather = "Rainy" if clf.predict(new_data) == 1 else "Sunny"

print("Predicted Next Month's Weather:", predicted_weather)

Predicted Next Month's Weather: Sunny

In [14]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Load the rainfall and temperature datasets
rainfall_data = pd.read_csv("dataset/kerala_rainfall.csv")
temperature_data = pd.read_csv("dataset/kerala_temperatures.csv")

# Assuming you have the new data for the current month in the following format:
# 'year', 'jan', 'feb', 'mar', ..., 'annual' for both rainfall and temperature
new_rainfall_data = pd.DataFrame({
    'YEAR': [2019],
    'JAN': [10.0],
    'FEB': [15.0],
    'MAR': [20.0],
    'APR': [33.2],
    'MAY':[30.2],
    'JUN':[44.3],
    'JUL':[45.6],
    'AUG':[42.5],
    'SEP':[33.5],
    'OCT':[00.0],
    'NOV':[00.0],
    'DEC':[00.0],
    'ANNUAL': [0.0],  # Annual rainfall
})

new_temperature_data = pd.DataFrame({
    'YEAR': [2019],
    'JAN': [20.0],
    'FEB': [25.0],
    'MAR': [20.0],
    'APR': [30.2],
    'MAY':[45.2],
    'JUN':[30.3],
    'JUL':[25.6],
    'AUG':[22.5],
    'SEP':[30.5],
    'OCT':[00.0],
    'NOV':[00.0],
    'DEC':[00.0],
    'ANNUAL': [0.0],  # Annual rainfall
})

# Split data into features and target (predict the next month's value)
features = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
target_month = 'OCT'  # Predict the temperature and rainfall for OCTOBER

X_rainfall = rainfall_data[features]
y_rainfall = rainfall_data[target_month]

X_temperature = temperature_data[features]
y_temperature = temperature_data[target_month]

# Create and train the linear regression models
rainfall_model = LinearRegression()
temperature_model = LinearRegression()

rainfall_model.fit(X_rainfall, y_rainfall)
temperature_model.fit(X_temperature, y_temperature)

# Predict the values for the next month using the new data
predicted_next_month_rainfall = rainfall_model.predict(new_rainfall_data[features])
predicted_next_month_temperature = temperature_model.predict(new_temperature_data[features])

print("Predicted Rainfall for Next Month (March):", predicted_next_month_rainfall[0])
print("Predicted Temperature for Next Month (March):", predicted_next_month_temperature[0])

Predicted Rainfall for Next Month (March): -2.8583259037675855e-14
Predicted Temperature for Next Month (March): 7.00924137083828e-14

In [30]:
import pandas as pd
import numpy as np

# Load the temperature dataset
data = pd.read_csv("dataset/kerala_temperatures.csv")  # Replace with your dataset path

# Fill missing values using forward filling
data['APR'].fillna(method='ffill', inplace=True)
data['MAY'].fillna(method='ffill', inplace=True)
data['JUN'].fillna(method='ffill', inplace=True)
# Repeat this for other months with missing values

# Split the data into training and test sets (e.g., train on historical data and test on 2019)
train_data = data[data['YEAR'] != 2019]
test_data = data[data['YEAR'] == 2019]

# Select the columns for training
train_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']

X_train = train_data[train_cols]
X_test = test_data[train_cols]

from statsmodels.tsa.arima_model import ARIMA

# Initialize the ARIMA model (p, d, q) parameters may need tuning
model = ARIMA(train_data['APR'], order=(1, 1, 1))  # Example order, adjust as needed

# Fit the model to historical data
model_fit = model.fit(disp=0)

# Predict the next month's temperature for April in 2019
forecasted_temperature = model_fit.forecast(steps=1)[0]

# Print the forecasted temperature
print("Forecasted Temperature for April 2019:", forecasted_temperature)

# Update the model with the observed April 2019 temperature
model_fit = model.update(forecasted_temperature)
# Define the list of months with missing values
missing_months = ['MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']

# Loop through the missing months and make predictions
for month in missing_months:
    forecasted_temperature = model_fit.forecast(steps=1)[0]
    print(f"Forecasted Temperature for {month} 2019:", forecasted_temperature)
    # Update the model with the observed temperature for the month
    observed_temperature = test_data[month].values[0]
    model_fit = model.update(observed_temperature)

Forecasted Temperature for April 2019: [35.60294605]

C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

AttributeError: 'ARIMA' object has no attribute 'update'

In [41]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima_model import ARIMA

# Load the temperature dataset
temperature_data = pd.read_csv("dataset/kerala_temperatures.csv")  # Replace with your dataset path

# Load the rainfall dataset
rainfall_data = pd.read_csv("dataset/kerala_rainfall.csv")  # Replace with your dataset path

# Fill missing values in both datasets using forward filling
temperature_data['APR'].fillna(method='ffill', inplace=True)
temperature_data['MAY'].fillna(method='ffill', inplace=True)
temperature_data['JUN'].fillna(method='ffill', inplace=True)
# Repeat this for other temperature months with missing values

rainfall_data['APR'].fillna(method='ffill', inplace=True)
rainfall_data['MAY'].fillna(method='ffill', inplace=True)
rainfall_data['JUN'].fillna(method='ffill', inplace=True)
# Repeat this for other rainfall months with missing values

# Split the data into training and test sets (e.g., train on historical data and test on 2019)
train_temperature_data = temperature_data[temperature_data['YEAR'] != 2019]
test_temperature_data = temperature_data[temperature_data['YEAR'] == 2019]

train_rainfall_data = rainfall_data[rainfall_data['YEAR'] != 2019]
test_rainfall_data = rainfall_data[rainfall_data['YEAR'] == 2019]

# Select the columns for training for both temperature and rainfall
temperature_train_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
rainfall_train_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']

X_train_temperature = train_temperature_data[temperature_train_cols]
X_test_temperature = test_temperature_data[temperature_train_cols]

X_train_rainfall = train_rainfall_data[rainfall_train_cols]
X_test_rainfall = test_rainfall_data[rainfall_train_cols]

# Initialize ARIMA models for both temperature and rainfall (p, d, q) parameters may need tuning
temperature_model = ARIMA(train_temperature_data['AUG'], order=(1, 1, 1))  # Example order, adjust as needed
rainfall_model = ARIMA(train_rainfall_data['AUG'], order=(1, 1, 1))  # Example order, adjust as needed

# Fit the models to historical data for both temperature and rainfall
temperature_model_fit = temperature_model.fit(disp=0)
rainfall_model_fit = rainfall_model.fit(disp=0)

# Predict the next month's temperature and rainfall for April in 2019
forecasted_temperature = temperature_model_fit.forecast(steps=1)[0]
forecasted_rainfall = rainfall_model_fit.forecast(steps=1)[0]

# Print the forecasted temperature and rainfall
print("Forecasted Temperature for August 2019:", forecasted_temperature)
print("Forecasted Rainfall for August 2019:", forecasted_rainfall)

# Update the models with the observed April 2019 temperature and rainfall
temperature_model_fit = temperature_model.update(forecasted_temperature)
rainfall_model_fit = rainfall_model.update(forecasted_rainfall)

# Define the list of months with missing values
missing_months = ['MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']

# Loop through the missing months and make predictions
for month in missing_months:
    forecasted_temperature = temperature_model_fit.forecast(steps=1)[0]
    forecasted_rainfall = rainfall_model_fit.forecast(steps=1)[0]
    
    print(f"Forecasted Temperature for {month} 2019:", forecasted_temperature)
    print(f"Forecasted Rainfall for {month} 2019:", forecasted_rainfall)
    
    # Update the models with the observed temperature and rainfall for the month
    observed_temperature = test_temperature_data[month].values[0]
    observed_rainfall = test_rainfall_data[month].values[0]
    
    temperature_model_fit = temperature_model.update(observed_temperature)
    rainfall_model_fit = rainfall_model.update(observed_rainfall)

Forecasted Temperature for August 2019: [31.45560365]
Forecasted Rainfall for August 2019: [543.91606539]

C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

AttributeError: 'ARIMA' object has no attribute 'update'

In [38]:
rainfall_data

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,2000,11.7,57.8,21.5,96.3,124.5,633.8,343.2,566.5,195.8,214.2,78.1,69.1,2412.6,NO
1,KERALA,2001,16.5,28.3,7.0,238.0,238.6,715.3,598.5,361.3,216.8,319.6,181.0,10.1,2931.1,NO
2,KERALA,2002,4.7,8.7,35.7,117.3,330.8,503.1,318.7,438.2,99.0,511.7,137.5,2.1,2507.4,NO
3,KERALA,2003,0.7,50.9,82.1,134.4,91.0,566.7,532.0,350.3,93.6,407.0,76.4,9.7,2394.9,NO
4,KERALA,2004,2.4,8.1,37.9,113.2,610.9,673.4,385.4,417.9,192.8,320.6,120.7,2.7,2886.1,NO
5,KERALA,2005,19.8,7.0,25.3,205.9,134.8,619.2,832.7,291.0,414.7,240.1,184.3,56.4,3031.1,YES
6,KERALA,2006,8.1,0.5,90.7,65.3,521.2,482.4,804.0,432.6,474.8,376.4,162.8,1.8,3420.6,YES
7,KERALA,2007,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,526.7,357.2,87.4,11.9,3489.6,YES
8,KERALA,2008,0.8,30.3,217.2,108.4,81.2,469.9,505.1,349.0,347.0,343.4,55.4,17.0,2524.5,NO
9,KERALA,2009,3.3,1.5,62.6,69.0,191.6,438.2,924.9,269.3,326.5,205.2,274.4,44.2,2810.6,NO
10,KERALA,2010,18.6,1.0,31.4,138.9,190.6,667.5,629.0,356.0,275.6,441.4,335.1,46.8,3131.8,YES
11,KERALA,2011,20.5,45.7,24.1,165.2,124.2,788.5,536.8,492.7,391.2,227.2,169.7,49.5,3035.1,YES
12,KERALA,2012,7.4,11.0,21.0,171.1,95.3,430.3,362.6,501.6,241.1,187.5,112.9,9.4,2151.1,NO
13,KERALA,2013,3.9,40.1,49.9,49.3,119.3,1042.7,830.2,369.7,318.6,259.9,154.9,17.0,3255.4,YES
14,KERALA,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,YES
15,KERALA,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,252.2,292.9,308.1,223.6,79.4,2600.6,NO
16,KERALA,2016,2.4,3.8,35.9,143.0,186.4,522.2,412.3,325.5,173.2,225.9,125.4,23.6,2176.6,NO
17,KERALA,2017,1.9,6.8,8.9,43.6,173.5,498.5,319.6,531.8,209.5,192.4,92.5,38.1,2117.1,NO
18,KERALA,2018,10.5,33.2,48.6,82.6,193.8,628.6,715.5,998.9,423.6,356.1,110.5,65.1,3667.0,YES
19,KERALA,2019,15.5,24.2,38.6,82.6,193.8,628.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN